*{margin:0;padding: 0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #444;
}
#head{
    /* background: #333; */
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.head-logo{
    width: 95%;
    position: relative;
    margin: auto;
    padding: 60px 40px 0;
}
.logob{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
}
.leftimg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    left: 40px;
}
.leftlist{
    position: absolute;
    top: 150px;
    left: 40px;
    height: 300px;
    width: 180px;
    font-size: 14px;
    color: #444;
    display: none;
}
.leftlist>li{
    padding: 4px 0;
}
.head-menu{
    position: absolute;
    top: 75px;
    right: 40px;
}
.head-menu li{
    float: left;
    font-size: 14px;
    margin-left: 20px;
}
.head-menu li:hover{
    cursor: pointer;
}
/* 搜索遮罩层 */
.search-mask,.search-popup{
    display: none;
}
.search-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);  
}
.search-popup{
    position: fixed;
    width: 87.3%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgb(255, 255, 255); */
    /* border-radius: 10px;*/
    padding: 20px;
}
.search-con {
    line-height: 160px;
    background-color: #000;
    text-align: center;
}
.s-close-icon {
    position: absolute;
    right: 40px;
    top: 40px;
    color: white;
    font-size: large;
    cursor: pointer;
}
.searchinput {
    outline: medium;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px white solid;
    background-color: #000;
    width: 87.3%;
    color: #efeff4;
    line-height: 22px;
    font-size: 14px;
    font-family: NeueMontreal-Regular;
    padding-bottom: 10px;
}
/* 主体 */
.prosuctbox {
    margin: 0 8%;
    padding: 50px 0;
    text-align: left;
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
#dress-col1 {
    padding: 0 5px;
    margin-bottom: 100px;
    text-align: center;
    display: inline-block;
    width: 31.8%;
}
.dress-col-img {
    display: inline-block;
    width: 100%;
    height: 86%;
    margin: 0 38px 10px 0;
    text-align: center;
    padding: 0;
}
.dress-col-img a {
    display: block;
    border: 2px solid #fff;
}
.dress-col-img img {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 272px;
    height: 372px;
    /* margin-right: 62px; */
}
.dress-text {
    width: 100%;
    height: 42px;
    font-size: 14px;
    color: #474747;
    line-height: 20px;
    display: block;
    text-align: center;
    margin: 4px auto 0 auto;
    overflow: hidden;
}

#foot{
    width: 100%;
    overflow: hidden;
    border-top: 2px solid #eee;
    font-size: 18px;
}
#foot i{
    font-size: 22px;
    /* margin-right: 10px; */
}
.copyright{
    margin-top: 70px;
    font-size: 12px;
}
.linkbox{
    float: left;
    margin: 30px 70px;
    font-size: 14px;
}
.box1{
    color: #444;
    font-size: 18px;
}
.box1 li{
    margin-bottom: 10px;
}
.box1 li:nth-of-type(4){
    margin-bottom: 20px;
}
.box1 li span a{
    color: #444;
}
.beian1{
    width:300px;
    padding:0 0 10px;
    font-size: 12px;
}
.layui-input{
    width: 100%;
    line-height: 38px;
    margin-bottom: 10px;
}
.beian1link{
    display:inline-block;text-decoration:none;height:20px;line-height:20px;
}
.beian1link1{
    float:left;
    height:20px;line-height:20px;
    margin: 0px 0px 0px 5px; color:#939393;
    font-size: 14px;
}
.box3{
    width: 100px;
    height: 178px;
    margin: 20px;
    float: left;
}
.box3 h4,h5{
    margin-bottom: 10px;
}
.box3 h4{
    color: #444;
}
.box3 h5{
    color: #6c757d;
    font-weight: normal;
}
.chat,.email,.phone{
    cursor: pointer;
}
/* 在线客服遮罩层 */
.mask,.popup{
    display:none;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);  
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}

.help_item {
    display: inline-block;
    margin-right: 20px;
    background-color: #f0eff5;
    width: 210px;
    text-align: center;
    padding: 94px 0;
}
.icon-gb{
    position: absolute;
    right: 20px;
}
.popup h1{
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    color: #444;
    display: block;
    text-align: center;
}
.text {
    font-weight: normal;
    font-size: 14px;
    color: #8e8e93;
    display: block;
    text-align: center;
    line-height: 24px;
}
.text-b {
    font-family: NeueMontreal-Regular;
    font-size: 14px;
    color: #444;
    display: block;
}
.help-row {
    margin: 40px auto;
    display: block;
    text-align: center;
}
.icon-dianziyouxiang {
    width: 36px;
    height: 36px;
    text-align: center;
}
.icon-dianhua {
    width: 36px;
    height: 36px;
    text-align: center
}
.icon-liaotian {
    width: 36px;
    height: 36px;
    text-align: center;
    color: #444
}

